[submodule "images"]
	path = images
	url = https://github.com/happyDebugging/images.git
    branch = master
[submodule "_gallery"]
	path = _gallery
	url = https://github.com/happyDebugging/_gallery.git
	branch = master
[submodule "_includes/extras"]
	path = _includes/extras
	url = https://github.com/happyDebugging/extras.git
	branch = master
[submodule "_quotes"]
	path = _quotes
	url = https://github.com/happyDebugging/_quotes.git
	branch = master
[submodule "_notes"]
	path = _notes
	url = https://github.com/happyDebugging/notes.git
	branch = master
[submodule "_bibliography"]
	path = _bibliography
	url = https://github.com/happyDebugging/bibliography.git
	branch = master
[submodule "_includes/text"]
	path = _includes/text
	url = https://github.com/happyDebugging/text.git
	branch = main 
[submodule "notes"]
	path = notes
	url = https://github.com/happyDebugging/notes.git
